
/* Botões */
.btn-register-fogot-password{
    width: 60%;
    height: 50%;
    border: none;
    padding: 1%;
    font-size: 5vw;
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    text-align: center;
    border-radius: 25px;
    background-color: #369159;
}

/* Estilo do texto */
.text-return{
    font-size: 4.5vw;
    margin-bottom: 5%;
    text-align: center;
}
