
.input-solicitacao{
    width: 90%;
    height: 30px;
    border: none;
    color: black;
    margin-top: 4.5%;
    margin-left: 5%;
    padding-top: 3%;
    margin-right: 5%;
    font-size: 5.5vw;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 3%;
    background-color: #00000033;
    display: block;
}

.input-solicitacao::placeholder{
    color: white;
}

