
/* Estilo do texto */
.text-solicitation{
    font-size: 8vw;
    color: white;
    text-align: center;
    margin-bottom: 10%;
    margin-top: -2%;
}

/* Botões */
.btn-solicitation{
    width: 90%;
    height: 25%;
    border: none;
    color: black;
    margin-left: 5%;
    padding-top: 3%;
    margin-right: 5%;
    font-size: 5.5vw;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 3%;
    vertical-align: middle;
    background-color: #00000033;
}

/* Estilo do texto que está dentro do botão */
.text-solicitation-button{
    color: white;
    font-size: 6vw;
    padding-left: 1%;
    vertical-align: middle;
  }