

/* Components */
.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.container-warning{
    background-color: #FFFFFF ;
    width: 90%;
    height: 25%;
    color: black;
    border-radius: 50px;
    padding-top: 13%;
    font-size: 5vw;
}  
  
.container-info{
    background-color: #FFFFFF ;
    width: 90%;
    height: 50%;
    color: black;
    border-radius: 50px;
    padding-top: 13%;
    font-size: 5vw;
}
  
.close-OK{
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    font-size: 5.8vw;
    color: #2b6642;
    position: fixed;
    left: 45%;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 20%;
}

.close-X{
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
    font-size: 12vw;
    left: 80%;
    margin-top: -7.5%;
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.grafico{
    background-color: none;
}