body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 300% 300%;

  background: linear-gradient(180deg, #63BEFF, #6CD0D3, #6DC08C, #6CD0D3, #63BEFF);
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Botões */
.btn-primary{
  width: 100%;
  height: 35%;
  border: none;
  color: white;
  margin-top: 5%;
  font-size: 6vw;
  padding-top: 3%;
  margin-bottom: 7%;
  padding-bottom: 3%;
  text-align: center;
  background-color: #2b6642;
}

.btn-exit{
  width: 100%;
  height: 35%;
  border: none;
  color: white;
  margin-top: 5%;
  font-size: 6vw;
  padding-top: 3%;
  margin-bottom: 7%;
  padding-bottom: 3%;
  text-align: center;
  background-color: #a80505;
}

.btn-return{
  width: 25%;
  height: 20%;
  border: none;
  margin-top: 5%;
  margin-left: 5%;
  color: #FFFFFF;
  font-size: 15.8px;
  text-align: center;
  border-radius: 25px;
  background-color: #a80505;
}

/* Inputs */
.input{
  width: 90%;
  height: 25%;
  border: none;
  color: black;
  margin-top: 4.5%;
  margin-left: 5%;
  padding-top: 3%;
  margin-right: 5%;
  font-size: 5.5vw;
  margin-bottom: 4%;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 3%;
  vertical-align: middle;
  background-color: #00000033;
}

.input::placeholder{
  color: white;
}

.input-solicitation{
  width: 90%;
  height: 55%;
  border: none;
  color: black;
  margin-top: 4.5%;
  margin-left: 5%;
  padding-top: 3%;
  margin-right: 5%;
  font-size: 5.5vw;
  margin-bottom: 4%;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 3%;
  vertical-align: middle;
  background-color: #00000033;
}

.input-solicitation::placeholder{
  color: white;
}


/* CSS da imagem */
.seta{
  width: 20%;
  margin-top: 5%;
  margin-right: 5%;
  transform: rotate(90deg);
}

.seta-2{
  width: 20%;
  margin-top: 5%;
  margin-right: 5%;
  transform: rotate(270deg);
}

.logo{
  width: 30%;
  height: 30%;
  margin-top: 5%;
  margin-left: 33%;
}

.logo-menor{
  width: 25%;
  height: 25%;
  margin-top: 5%;
  margin-left: 36%;
}

.info-img{
  width: 10%;
  height: 10%;
  margin-top: -8%;
  margin-left: 86%;
}

.img-deletar{
  width: 20%;
  height: 95%;
}


.delete-solicitation{
  width: 90%;
  height: 55%;
  border: none;
  background-color: red;
  margin-top: 4.5%;
  margin-left: 5%;
  padding-top: 3%;
  margin-right: 5%;
  margin-bottom: 4%;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 3%;
  vertical-align: middle;
}

.grafico{
  background-color: transparent;
}