
.menu-div-primary{
    margin-top: 20%;
}

.menu-div{
    margin-top: 20%;
}

/* Botões */
.btn-menu-options{
    width: 90%;
    border: none;
    padding: 3.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
    border-radius: 5px;
    background-color: #00000033;
}

/* Estilo dos textos */
.menu-text-options{
    color: white;
    font-size: 8vw;
    vertical-align: middle;
}

.menu-text-options-minor{
    color: white;
    font-size: 6vw;
    vertical-align: auto;
}
.menu-text-options-minor-cs{
    color: white;
    font-size: 5vw;
    vertical-align: auto;
}

/* Ícone de perfil */
.menu-profile-icon{
    width: 15%;
    margin-top: 2%;
}


